<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Calendar</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"></link>
    <script type="text/javascript" src="/static/scrypts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <noscript>
        <p>please, unlock Javascript.</p>
        <img id="ban" src="static/image/404_page.png">
    </noscript>
    <main>
        <p>Name: {{user.name}} Email: {{user.email}}</p>
        <div id="wrapper">
                <form class="signin" id="create_event" action="/event/{{user.id}}" method="post">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" name="btn_create"><b>>></b></button>
                </form> 
        </div>
        <div id="events">
            {% if events.count > 0 %}
                <h2>List of events</h2>
                <table>
                    <tr><th>Name</th><th>Day</th><th>Start</th><th>Ends</th></tr>
                    {% for event in events %}
                        <tr><td>{{ event.name }}</td>
                            <td>{{ event.day }}</td>
                            <td>{{ event.start_time }}</td>
                            <td>{{ event.end_time }}</td>
                            <td><a href="/delete/{{user.id}}/{{event.id}}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
         </div>
        </div>
    </main>
</body>
</html>