<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Log in</title>
	<link rel="stylesheet" type="text/css" href="static/css/main.css"></link>
	<script type="text/javascript" src="static/scrypts/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="static/scrypts/tabs.js"></script>
</head>
<body>
	<noscript>
        <p>please, unlock Javascript.</p>
        <img id="ban" src="static/image/404_page.png">
    </noscript>
	<header>
		<a href=""><img id="logo" src="static/image/logo.jpg" /></a>
	</header>

	<main>
		<div id="wrapper">
			<div class="tab">
  				<button class="tablinks" onclick="openTab(event, 'regist')">Registration</button>
  				<button class="tablinks" onclick="openTab(event, 'auth')">Authorization</button>
			</div>
			<div id="regist" class="tabcontent">
				<form class="signin" id="reg_form" action="create/" method="post">
					{% csrf_token %}
					<input type="text" id="name" name="name" placeholder="name" value="{{user.name}}" required />
					<input type="password" id="pass" name="password" placeholder="password" required />
					<input type="password" id="conf_pass" name="conf_pass" placeholder="confirm password" required />
					<input type="text" id="email" name="email" placeholder="email" required />
					<button type="submit" id="btn_reg" name="btn_reg"><b>>></b></button>	
				</form>
			</div>
			<div id="auth" class="tabcontent">
				<form class="signin" id="au_form" action="login/" method="post">
					{% csrf_token %}
					<input type="text" id="email" name="email" placeholder="email" required />
					<input type="password" id="password_au" name="password_au" placeholder="password" />
					<button type="submit" id="btn_au" name="btn_au"><b>>></b></button>
				</form>
			</div>
		</div>
	</main>
	<footer>
		<p>Reit me <a href="https://bitbucket.org/AltVi/" target="_blank">click here</a></p>
	</footer>
</body>
</html>